<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide accurate weather information for your koi feeding recommendations.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide accurate weather information for your koi feeding recommendations.</string>
	<key>com.apple.developer.weatherkit</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>itms-apps</string>
	</array>
	<key>ITSAppDeepLinkingKeys</key>
	<dict>
		<key>com.apple.developer.associated-domains</key>
		<array>
			<string>applinks:apps.apple.com</string>
		</array>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Help us improve Koi Cal by sharing why you're deleting the app</string>
</dict>
</plist>
