<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Koi Cal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>936B80D92CE68B4D00F668CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936B80E92CE68B4E00F668CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936B80F32CE68B4E00F668CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
